:root {
    --primary-color: #5f4dee;
    --secondary-color: #ffffff;
    --background-back: #f3f7fd;
    --text-color: #ffff;
    --font-color: #333;
    --primary-font: "Open Sans", sans-serif;
}


/* ===================
RESET 
=================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--primary-font);
}

/* ===================
HEADER 
=================== */

.tivo-header{
    width: 100%;
    background-color: var(--primary-color);
}
.tivo-navbar{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    min-height: 75px;

    display: flex;
    justify-content: space-between;
    padding: 20px 50px;

    position: fixed;
    background-color: var(--primary-color);
    z-index: 3;
}  

/* Logo */

.nav-logo-link{
    display: flex;
    align-items: center;
}
.nav-log{
    width: 70px;
    height: auto;
    display: block;
}
/* Navigation menu */

.nav-orderlist{
    display: flex;
    align-items: center;
    gap: 30px;

    list-style: none;
    margin-left: auto;
    padding-right: 30px;    
}
.nav-orderlist a{
    color: var(--secondary-color);
    text-decoration: none;

    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;

    text-transform: uppercase;

    transition: opacity 0.3s ease;
}
.nav-orderlist a:hover{
    opacity: 0.7;;
}
.nav-link-btn{
    text-decoration: none;
}
/* Login button */

.nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 38px;

    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid #ffffff;

    border-radius: 40px;
    text-decoration: none;

    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: 600;

    transition: 0.6s ease;
}
.nav-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* ===================
HERO SECTION 
=================== */

.header-section{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    background-color: var(--primary-color);

    padding: 60px 50px;
}
/* left content */

.header-text{
    flex: 1;
    max-width: 600px;
    padding: 20px 30px;
}
.header-text h1{
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;

    color: var(--text-color);
}
.header-text p{
    max-width: 450px;
    
    margin-top: 20px;

    font-size: 19px;
    line-height: 1.6;
    font-weight: 300;
    
    color: var(--text-color);
}
/* button */
.header-btn{
    margin-top: 36px;
}
.header-btnlink{
    display: inline-block;
    padding: 15px 40px;

    border: 1px solid #ffff;
    border-radius: 30px;

    text-decoration: none;

    color: var(--primary-color);
    font-weight: 700;
    transition: 0.3s ease;

    background-color: var(--secondary-color);
}
.header-btnlink:hover {
    opacity: 0.85;
}

/* -----------------
header-wave svg
----------------- */
.header-wave {
    width: 100%;
    height: 120px;
    margin-top: -50px;
    line-height: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.header-wave svg {
    width: 100%;
    height: 100%;
    display: block;
}

/* ===================
HERO IMAGE 
=================== */

.header-images{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

.brand-img{
    width: 100%;
    max-width: 450px;
    height: auto;
   
    display: block;
}

/* Companey-logo */
.company-logo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.logo-list{
    display: flex;
    gap: 80px;
    text-align: center;
    justify-content: center;

    margin: 20px 20px;
    padding: 50px 0;
    list-style: none;
}

/* Marketing section */

.marketing-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.marketing-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marketing-title a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}
.marketing-title h2{
    max-width: 1200px;
    width: 100%;

    font-family: var(--primary-font);
    text-decoration: none;
    font-size: 32px;
    line-height: 2.2rem;
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
    padding: 10px 300px;
    margin-bottom: 20px;
}
.marketing-gallery{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   
   gap: 50px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 20px 20px;
}
.gallery-list img{
    max-width: 150px;
    height: 150px;
    margin: 20px;
}
.gallery-list h1{
    text-align: center;
    font-size: 22px;
    font-weight: bold;

    font-family: var(--primary-font);
    color: var(--font-color);
    padding-top: 20px;
}
.gallery-list p{
    text-align: center;
    font-family: var(--primary-font);
    color: var(--font-color);
    font-size: 18px;
    line-height: 1.8rem;
    font-weight: 500;
    padding: 10px 20px;
}
.automation-section{
    max-width: 1300px;
    width: 100%;
    margin: 20px auto;

    background-color: var(--background-back);
}
.automation-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;

    padding: 110px 50px;
}
.automation-header h3{
    color: var(--primary-color);
    font-size: 18px;
}
.automation-header h2{
    font-size: 38px;
    font-family: var(--primary-font);
    color: var(--font-color);
    font-weight: 700;
}
.automation-header p{
    font-size: 22px;
    font-family: var(--primary-font);
    color: var(--font-color);
    line-height: 1.8rem;
    padding: 5px 60px;
    font-weight: 100;

    width: 82%;
    margin: 0 auto;
}
.automation-list-menu{
    max-width: 1200px;
    width: 100%;
    
}
.automation-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;

    list-style: none;
}
.automation-link a{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);
    text-decoration: none;

    color: var(--primary-color);
    border-bottom: 2px solid gray;
}
.automation-link a:hover{   
    font-weight: 600;
    font-family: var(--primary-font);
    text-decoration: none;

    color: var(--primary-color);
    padding-bottom: 5px;
    border-bottom: 4px solid #5f4dee;
}
.automation-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 20px 50px;
}
.marketing-image img{
    flex: 1;
    max-width: 500px;
    height: 400px;
    padding-top: 30px;

}
.marketing-text{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.marketing-text h1{
    padding-top: 30px;
    font-size: 30px;
    color: var(--font-color);
    font-weight: 600;
}
.marketing-text p{
    padding-top: 25px;
    font-size: 20px;
    color: var(--font-color);
    font-weight: 500;
    line-height: 1.8rem;
}
.market-list{
    padding-left: 20px;
}
.automating-btn{
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #5f4dee;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 20px 0 0 0;
    text-align: center;
}
.automation-grid-two{
    padding: 50px 0;
}
.video-section{
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;

    text-align: center;
    background-color: var(--background-back);
}
.video-section p{
    padding: 20px 250px;
    font-size: 22px;
    color: var(--font-color);
}
.video-play{
    position: relative;
}
.play-btn{
    position: absolute;
    left: 47%;
    top: 30%;

    width: 90px;
    height: 90px;
    padding: 30px 20px;

    border-radius: 100%;
    background-color: #5f4dee;

    text-decoration: none;
    font-size: 22px;
    color: var(--text-color);
}
.play-btn:hover{
    border: 5px solid red;
}
.video-play img{
    width: 100%;
    padding: 50px 180px;
}
.price-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.price-head{
    text-align: center;
    padding-top: 50px;
}
.price-head p{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
.price-head h2{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    padding-top: 15px;
    color: var(--font-color);
}
/* card section */

.price-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    padding: 30px 80px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--font-color);
    height: 500px;
    width: 300px;
    border-radius: 10px;
}
.card h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-top: 20px;
}
.card h1{
    font-size: 38px;
    font-weight: 600;
    color: var(--font-color);
    text-transform: uppercase;
    padding-top: 30px;
}
.card p{
    font-size: 12px;
    font-weight: 500;
    color: var(--font-color);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;

    border-bottom: 1px solid gray;
    width: 80%;
}
.card-list{
    list-style: none;
}
.card-list li{
    padding: 1px 0;
}
.card-list p{
    border: none;
    width: 100%;
    font-size: 14px;
    text-align: start;
}
.card-btn{
    margin: 20px 0;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #5f4dee;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Newletter-section */

.newsletter-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--background-back);
}
.newsletter-section h4{
    font-size: 18px;
    padding-bottom: 10px;
    color: var(--primary-color);
}
.newsletter-section h2{
    font-size: 42px;
    width: 80%;
    text-align: center;
    color: var(--font-color);
    padding-bottom: 10px;
}
.newletter-input{
    height: 60px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 18px;
    padding-left: 20px;
}
.letter-checkbox{
    display: flex;
    padding-top: 10px;
    color: var(--font-color);
}
.letter-checkbox input{
    margin-left: -60px;
    margin-right: 10px;
}
.news-btn{
    margin-top: 10px;
    width: 600px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;

    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid #5f4dee;
}

/* footer section */

.footer-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    color: var(--text-color);
    font-family: var(--primary-font);

    background-color: var(--primary-color);
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    padding: 50px 80px;
}
.footer-about h2{
    font-size: 22px;
    padding-bottom: 15px;
}
.footer-about p{
    font-size: 19px;
    padding-bottom: 15px;
    width: 90%;
    line-height: 1.8rem;
}
.footer-about ul li a{
    font-size: 19px;
    
    width: 90%;
    line-height: 1.8rem;
}
.footer-end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-line{
    border-bottom: 0.1rem solid var(--secondary-color);
}
.footer-end h2{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 5px;
    margin-top: 10px;
}







/* ===================
TABLET / MOBILE 
=================== */

@media (max-width: 768px) {
    .tivo-header{
        background-color: blue;
    }
    
    .tivo-navbar{
        flex-wrap: wrap;
        gap: 20px;
    }

    .nav-orderlist{
        order: 3;
        width: 100%;

        justify-content: center;

        margin: 0;
        padding: 0;
        gap: 20px;
    }
}

/* Small screen */
@media (max-width: 480px) {
    .tivo-header{
        background-color: red;
    }
    .header-section{
        display: flex;
        flex-direction: column;
    }

}